@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  kbd {
    @apply inline-flex items-center justify-center px-2 py-1 bg-gray-100 rounded-md shadow-sm text-gray-600 font-medium;
  }
}

::selection {
  background-color: #b2ebf2;
  color: #1a1a1a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.grid-background {
  background-color: white; /* Optional: background color */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  border-radius: 8px;
  background-size: 12px 12px;
}
